<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-resource.min.js"></script>
    
    <script src="js/app.js"></script>
</head>
<body class="container" ng-app="dynamicFormApp" ng-controller="mainController">
    
    <form name="userFormOne" novalidate>
      
      <div class="form-group" >
      	
      	<h2>{{formDataOne.product.id}}</h2>
      	
      	<div ng-repeat="(key, val) in formDataOne.product.content">
    		<label>{{key}}</label> <input type="text" class="form-control" ng-model="val" required>
  		</div>
        
      </div>
      
    </form>
    {{formDataOne.products}}
</body>
</html>